@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background-color: #FDD818;
}

.title {
  position: absolute;
  width: 100%;
  height: 64px;
  left: 0px;
  top: 28px;
}

.title a {
  position: absolute;
  left: 71.39%;
  top: 27px;
  bottom: 94.92%;
  text-decoration: none;
  font-family: 'Aldrich', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 39px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.btn {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 25px;
  top: 46%;
  z-index: 1;
}

#menu {
  width: 280px;

  opacity: 1;
  transform: translateX(0%);
  transition: linear 1s;
}


#menu.hidden {
  width: 280px;
  height: 560px;
  display: flex;

  opacity: 1;
  transform: translateX(-100%);
  transition: linear 1s;
}


.record {
  padding: 0;
  top: 15%;
  position: absolute;
  width: 280px;
  height: 560px;
}

.icon {
  width: 280px;
  height: 560px;
  margin-top: 36%;
}

.icon img {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
}

.icon1 {
  left: 16%;
  top: 23%;
}

.icon2 {
  left: 50%;
  top: 44%;
}

.icon3 {
  left: 16%;
  top: 64%;
}

/* Make Spotify Songs Look More Round */
iframe {
  border-radius: 30px;
}

/* Make the Spotify Results Fall Into the Same Row */
.col {
  display: inline-block !important;
}

/* Position Results Below Search Bar */
#song-list {
  position: absolute;
  top: 20%; left: 25%;
}
.buscar-caja {
  position: absolute;
  top: 10%; left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 40px;
  padding: 10px;
}
.buscar-caja:hover > .buscar-txt
{
  width: 240px;
  padding: 0 6px;
}
.buscar-caja:hover > .buscar-btn {
  background: white;
  color: black;
}
.buscar-btn {

  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: #1DB954;
  cursor: pointer;
}
.buscar-btn > i
{
  font-size: 18px;
}
.buscar-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #333;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  font-weight: bold;
}
.btn-primary{
    background: #fff;
    color: #CB356B;
    border: none;
}
